extends layout

block content
	.container
		h1 Applicants
		ul#applications.list-unstyled
		for applicant in applicants 
			li: a(href="/#{applicant._id}") #{applicant.name.toUpperCase()}
			li= applicant.bio
			li #{applicant.skills}
			li #{applicant.years}
			li #{applicant.why}
			//- a(href="/delete/#{applicant._id}") Delete 
			form(method="post" action="/delete")
				input(type='hidden' name="_id" value="#{applicant._id}")
				input(type='submit' value="delete")